@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 208 100% 97%;
    --foreground: 222.2 47.4% 11.2%;
    --card: 208 100% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 208 100% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --primary: 207 44% 49%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 14% 90%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 14% 90%;
    --muted-foreground: 222.2 47.4% 25.2%;
    --accent: 210 14% 53%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 14% 85%;
    --input: 210 14% 88%;
    --ring: 207 44% 49%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 222.2 47.4% 11.2%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 207 44% 49%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 210 14% 53%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 210 15% 20%;
    --sidebar-ring: 207 44% 49%;
  }
  .dark {
    --background: 210 15% 10%;
    --foreground: 210 20% 95%;
    --card: 210 15% 12%;
    --card-foreground: 210 20% 95%;
    --popover: 210 15% 10%;
    --popover-foreground: 210 20% 95%;
    --primary: 207 44% 59%;
    --primary-foreground: 210 20% 5%;
    --secondary: 210 15% 20%;
    --secondary-foreground: 210 20% 95%;
    --muted: 210 15% 20%;
    --muted-foreground: 210 20% 70%;
    --accent: 210 14% 63%;
    --accent-foreground: 210 20% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 15% 20%;
    --input: 210 15% 20%;
    --ring: 207 44% 59%;
    --sidebar-background: 210 15% 10%;
    --sidebar-foreground: 210 20% 95%;
    --sidebar-primary: 207 44% 59%;
    --sidebar-primary-foreground: 210 20% 5%;
    --sidebar-accent: 210 14% 63%;
    --sidebar-accent-foreground: 210 20% 5%;
    --sidebar-border: 210 15% 20%;
    --sidebar-ring: 207 44% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
